@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-primary: hsl(220, 100%, 50%);
        --color-secondary: hsl(0, 0%, 50%);
        --color-danger: hsl(0, 100%, 50%);
        --color-background: hsl(0, 0%, 100%);
        --color-text-base: hsl(0, 0%, 0%);
        --color-contrast: hsl(220,13%,91%);
        --color-contrastDark: hsl(220, 46%, 27%);
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --color-primary: hsl(220, 100%, 50%);
            --color-secondary: hsl(0, 0%, 50%);
            --color-danger: hsl(0, 100%, 50%);
            --color-background: hsl(213, 24%, 7%);
            --color-text-base: hsl(0, 0%, 100%);
            --color-contrast: hsl(220,13%,91%);
            --color-contrastDark: hsl(220, 46%, 27%);
        }
    }

    :root[data-theme='light']{
        --color-primary: hsl(220, 100%, 50%);
        --color-secondary: hsl(0, 0%, 50%);
        --color-danger: hsl(0, 100%, 50%);
        --color-background: hsl(0, 0%, 100%);
        --color-text-base: hsl(0, 0%, 0%);
        --color-contrast: hsl(220,13%,91%);
        --color-contrastDark: hsl(220, 46%, 27%);
    }

    :root[data-theme='dark']{
        --color-primary: hsl(220, 100%, 50%);
        --color-secondary: hsl(0, 0%, 50%);
        --color-danger: hsl(0, 100%, 50%);
        --color-background: hsl(0, 0%, 0%);
        --color-text-base: hsl(0, 0%, 100%);
        --color-contrast: hsl(220,13%,91%);
        --color-contrastDark: hsl(220, 46%, 27%);
    }

    :root[data-theme='purple']{
        --color-primary: hsl(270, 100%, 50%);
        --color-secondary: hsl(270, 100%, 75%);
        --color-danger: hsl(0, 100%, 50%);
        --color-background: hsl(0, 0%, 15%);
        --color-text-base: hsl(0, 0%, 75%);
        --color-contrast: hsl(220,13%,91%);
        --color-contrastDark: hsl(220, 46%, 27%);
    }

    :root[data-theme='blue']{
        --color-primary: hsl(220, 100%, 50%);
        --color-secondary: hsl(220, 100%, 75%);
        --color-danger: hsl(0, 100%, 50%);
        --color-background: hsl(0, 0%, 15%);
        --color-text-base: hsl(0, 0%, 75%);
        --color-contrast: hsl(220,13%,91%);
        --color-contrastDark: hsl(220, 46%, 27%);
    }
}